.navigation{
    display: flex;
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(85, 85, 85, 0.205);
    z-index: 100;
}

.navigation .brand-logo{
    /* border: 1px solid black; */
}

.navigation .brand-logo{
    letter-spacing: 4px;
    font-family: 'Nunito';
    /* font-weight: 100; */
    display: flex;
    align-items: center;
    color: #383838;
    /* border: 1px solid black; */
    width: 200px;
    justify-content: space-between;
}

.navigation .brand-logo img{
    width: 45px;
    /* border: 1px solid white; */
    /* background-color: white; */
    background-color: #383838;
    padding: 5px;
    border-radius: 50%;
}

.navigation .nav-items{
    display: flex;
    /* border: 1px solid black; */
    right: 140px;
    position: fixed;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    width: 440px;
}

.navigation .nav-items li{
    list-style: none;
}

ul{
    list-style: none;
}


.navigation .nav-items li .nav-item{
    font-size: 0.9em;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Poppins';
    color: #353535;
    /* border: 1px solid black; */
    padding: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 3px;
    transition: all .4s ease-out;
}

.navigation .nav-items li .nav-item:hover{
    background-color: #d3cfd1;
}

.active-nav-link{
    background-color: rgb(255, 43, 91);
}

.active-nav-link .nav-item{
    color: white;
}

.mobile-view-user{
    display: none;
}

.petsweb-user{
    border: 0;
    font-family: 'Poppins';
    background: none;
    color: #353535;
    font-size: 1em;
    font-weight: 100;
    outline: none;
    cursor: pointer;
}

.petsweb-user-list{
    width: 170px;
    height: 120px;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: #252525;
    border-radius: 5px;
    /* padding: 7px; */
    margin-top: 15px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 20px 12px -10px rgb(7, 7, 7);
    opacity: 0;
    transition: all .4s ease;
    z-index: 101;
}

.petsweb-user-list li{
    width: 100%;
    height: 100%;
    transition: all .4s ease;
}

.petsweb-user-list a:hover{
    text-decoration: underline;
    background-color: rgb(43, 43, 43);
    /* font-size: 1.12em; */
}

.petsweb-user-list li a{
    height: 100%;
    text-decoration: none;
    color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .4s ease;
}

.petsweb-user-list li:nth-child(1) a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.petsweb-user-list li:nth-child(2) a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.petsweb-user:focus + .petsweb-user-list{
    opacity: 1;
    transform: translateY(-5px);
}

.petsweb-user img{
    width: 15px;
    height: 15px;
}

.petsweb-user{
    width: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.petsweb-user img:first-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -70px;
}

/* Burger Icon */

.burger {
    display: none;
    position: relative;
    background-color: rgb(230, 230, 230);
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 3px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    transform: translateX(-50%);
}

.line:before,
.line:after {
    content: '';
    width: 27px;
    height: 3px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    transition: all .4s ease;
}

.line:before {
    margin-top: -8px;
}

.line:after {
    margin-top: 8px;
}


.active {
    background-color: rgba(0, 0, 0, 0);
}

.active .line:before {
    transform: rotate(45deg);
    background-color: #EE316B;
    margin-top: 0;
}

.active .line:after {
    transform: rotate(135deg);
    background-color: #EE316B;
    margin-top: 0;
}

.vanish {
    /* opacity: 0; */
    background-color: rgba(0, 0, 0, 0);
}


@media only screen and (max-width: 768px) {

    .mobile-view-user{
        display: block;
        width: 150px;
        display: block;
        top: 80px;
    }

    .mobile-view-user .petsweb-user img:first-child{
        width: 50px;
        height: 50px;
    }

    .navigation{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.973);
    }

    .navigation .show {
        display: block;
    }

    .burger {
        display: block;
    }

    .glass {
        position: fixed;
        display: none;
        top: 10vh;
        width: 100%;
        height: 100vh;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.856);
        transition: all .4s ease;
    }

    .navigation .nav-items {
        width: 60%;
        top: 10vh;
        position: fixed;
        flex-direction: column;
        height: 90vh;
        z-index: 100;
        background-color: rgb(255, 255, 255);
        right: 0;
        background-color: #383838;
        transform: translateX(100%);
        transition: all .4s ease;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .navigation .nav-items li .nav-item {
        color: white;
    }

    .burger,
    .line {
        z-index: 100;
    }
}

.navigation .slide {
    transform: translateX(0%);
}