.banner{
    margin: auto;
    width: 100%;
    font-family: 'Poppins';
    text-align: center;
    background-color: lightgray;
    border-radius: 4px;
    margin-top: 127px;
    min-height: 440px;
    background: url('../../res/images/banner-back.jpg') center no-repeat;
    background-size: cover;
}

.banner h2{
    font-family: 'Pacifico';
    font-size: 2.7em;
    color: rgb(233, 233, 233);
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .banner-quote{
    font-size: 0.7em;
    font-family: 'Dosis';
    display: block;
    top: 120px;
    position: absolute;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: 100;
}

.banner-glass{
    width: 100%;
    top: 0;
    min-height: 440px;
    /* border: 1px solid green; */
    background-color: rgba(10, 10, 10, 0.6);
}

.find-pets div a{
    text-decoration: none;
}

.find-pets{
    width: 70%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: space-around; */
}
/* 
.find-pets h3{
    font-family: 'Dosis';
} */

.find-pets div:nth-child(1) a div{
    background-color: rgb(255, 43, 91);
    font-weight: 70;
}

.find-pets h3{
    font-family: 'Segoe UI';
    font-weight: 100;
}

/* .find-pets .cats h3{
    font-family: 'Cabin';
} */

.find-pets .cats, .dogs, .location{
    margin-top: -100px;
    min-height: 200px;
    width: 200px;
    color: white;
    font-size: 1.4em;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    padding: 7px;
    padding-top: 20px;
    border-radius: 7px;
    box-shadow: 0 17px 8px -14px rgb(70, 70, 70);
    transition: all .4s ease;
    cursor: pointer;
}

.find-pets img{
    width: 100px;
    padding: 4px;
}

.find-pets .location .city-name{
    font-size: 1em;
}

.find-pets div:hover{
    transform: scale(1.03);
    box-shadow: 0 17px 17px -10px rgb(190, 190, 190);
}

.find-pets h3{
    width: 100%;
    height: 100%;
}

.find-pets div a div{
    background-color: #272727;
}

.pet-articles{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.dog-adoption, .cat-adoption{
    width: 500px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 0 27px 15px -17px rgb(48, 47, 47); 
    position: relative;
    /* border: 1px solid black; */
}

.dog-adoption h2, .cat-adoption h2{
    font-family: 'Pacifico';
    color: white;
    /* color: transparent; */
    position: absolute;
    top: 80%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 2em;
} 

.dog-adoption{
    background: url('../../res/images/dog-adoption-bg.jpg') center no-repeat;
    background-size: cover;
}

.cat-adoption{
    background: url('../../res/images/cat-adoption-bg.jpg') center no-repeat;
    background-size: cover;
}

.adoption-glass-banner{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all .4s ease;
}

.adoption-glass-banner:hover{
    background-color: rgba(0, 0, 0, 0.466);
}

@media only screen and (max-width: 768px) {

    .banner{
        margin-top: 140px;
    }

    .banner h2 {
        font-size: 1.9em;
        /* border: 1px solid white; */
        width: 90%;
        margin-top: 30px;
    }

    .banner .banner-quote {
        margin-top: 20px;
    }

    .find-pets {
        /* border: 1px solid black; */
        width: 100%;
    }

    .find-pets img {
        width: 50px;
        padding: 2px;
    }

    .find-pets .location .city-name {
        font-size: 0.6em;
        font-weight: 700;
    }

    .find-pets h3 {
        font-family: 0.7em;
        text-align: center;
    }

    .find-pets .cats,
    .dogs,
    .location {
        width: 110px;
    }

    .pet-articles {
        flex-direction: column;
        /* border: 1px solid black; */
        width: 100%;
    }

    .dog-adoption,
    .cat-adoption {
        width: 300px;
        height: 150px;
        margin: auto;
        /* border: 1px solid black; */
    }

    .dog-adoption h2, .cat-adoption h2{
        font-size: 1.5em;
    }

    .dog-adoption {
        margin-top: 30px;
    }
}

/* @media only screen and (min-width: 1000px){
    .banner h2{
        margin-top: 80px;
        font-size: 1.9em;
    }

    .find-pets{
        width: 100%;
    }
} */
